{% extends 'style_layout.html' %}

{% block head %}
    {% if current_user.is_authenticated %}
        <a class="button icon-right" href="{{ url_for('create_entry') }}"><span>New Entry</span></a>
        <a class="button icon-right" href="{{ url_for('create_tag') }}"><span>Create Tag</span></a>
        <a class="button icon-right" href="{{ url_for('view_tags') }}"><span>View Tags</span></a>
        <a class="button icon-right" href="{{ url_for('logout') }}"><span>Logout</span></a>
    {% else %}
        <a class="button icon-right" href="{{ url_for('login') }}"><span>Login</span></a>
        <a class="button icon-right" href="{{ url_for('register') }}"><span>Register</span></a>
    {% endif %}
{% endblock %}

{% block content %}{% endblock %}