{% extends 'header_layout.html' %}

{% block content %}
    <div class="container">
        <div class="entry-list">
            {% for entry in entries %}
                <article>
                    <h2><a href="{{ url_for('view_entry', id=entry[0].id) }}">{{ entry[0].title }}</a></h2>
                    <time datetime="{{ entry[0].date.strftime('%m/%d/%Y') }}">{{ entry[0].date.strftime('%m/%d/%Y') }}</time>

                    {% for tag in entry[1] %}
                        <a class="button" href="{{ url_for('entries_by_tag', tag=tag.tag) }}">{{ tag.tag }}</a>
                    {% endfor %}
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}